<!-- <div class="container">
  <form #userForm="ngForm">
      <br>
      {{userModel |json}}


      <div class="form-group">
          <label>Email :</label>
          <input type="email" name="email" #email="ngModel"
          [class.is-invalid]="email.invalid && email.touched"
           required  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
           [(ngModel)]="userModel.email" class="form-control">
           <div [hidden]="!email.errors?.pattern">
            Invalid pattern
          </div>
           <small  class="text-danger" [class.d-none]="email.untouched ||email.valid">Email is required</small>

      </div>
      {{email.className}}
      <br>
      {{email.valid}}

      <div class="form-group">
        <label>Password :</label>
        <input type="password" name="password" #password="ngModel"
        [class.is-invalid]="email.invalid && email.touched"
        required [(ngModel)]="userModel.password" class="form-control">
         <small  class="text-danger" [class.d-none]="password.untouched ||password.valid">
           Password is required</small>

    </div>
    {{password.className}}
    <br>
    {{password.valid}}




      <input type="submit" class="btn btn-primary" value="Login">




  </form>
</div> -->
